.hero {
	&__container {
		box-sizing: border-box;
		padding-top: 36px;
		position: relative;
	}
	&__title {
		font-size: 32px;
		line-height: 40px;
		color: var(--text-primary-color);
		margin-bottom: 6px;
	}
	&__slogan {
		color: var(--text-tetriary-color);
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 30px;
	}
	&__slider {
		padding-top: 10px;
	}
	&__pagination {
		display: block;
		position: relative;
		padding: 0;
		display: flex;
		width: 100%;
		border-bottom: 1px solid var(--gray-color);
		overflow-x: scroll;
		&::-webkit-scrollbar {
			width: 0;
			height: 0;
		}
	}
	&__bullet {
		position: relative;
		background: transparent;
		color: var(--text-tetriary-color);
		font-weight: 700;
		font-size: 18px;
		line-height: 26px;
		cursor: pointer;
		padding-bottom: 14px;
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 2px;
			left: 0;
			bottom: -1px;
			background: var(--blue-color);
			opacity: 0;
			transition: opacity 0.4s ease;
		}
		&-active {
			color: var(--text-secondary-color);
			&::after {
				opacity: 1;
			}
		}
		&:not(:last-child) {
			margin-right: 40px;
		}
	}
	&__slide {
		padding-top: 24px;
	}
	&__navigation {
		display: flex;
		justify-content: space-between;
		width: 100%;
		position: absolute;
		top: 63%;
		left: 0;
		transform: translateY(-46%);
		z-index: 10;
	}
	&__btn {
		position: relative;
		width: 44px;
		height: 44px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: var(--white-color);
		border-radius: 2px;
		z-index: 15;
		&:first-child {
			transform: translateX(-18%);
		}
		&:last-child {
			transform: translateX(18%);
		}
	}
	&__arrow {
		width: 15px;
		height: 13px;
		&-rotated {
			transform: rotate(180deg);
		}
	}
}

@media (max-width: 768px) {
	.hero {
		&__navigation {
			display: none;
		}
	}
}
