<section class="hero">
	<div class="container hero__container">
		<h1 class="hero__title">Блог и соцсети</h1>
		<p class="hero__slogan">
			Идейные соображения высшего порядка, а также сложившаяся структура
			организации представляет собой интересный эксперимент проверки
			направлений прогрессивного развития.
		</p>
		<div class="swiper hero__slider">
			<ul class="swiper-pagination hero__pagination list-reset"></ul>
			<div class="swiper-wrapper">
				<div class="hero__slide swiper-slide">
					<div class="swiper-inner">
						<div class="hero__navigation swiper-inner__navigation">
							<button
								class="btn-reset hero__btn swiper-inner__btn-prev"
							>
								<svg class="hero__arrow hero__arrow-rotated">
									<use
										xlink:href="img/sprite.svg#arrow"
									></use>
								</svg>
							</button>
							<button
								class="btn-reset hero__btn swiper-inner__btn-next"
							>
								<svg class="hero__arrow">
									<use
										xlink:href="img/sprite.svg#arrow"
									></use>
								</svg>
							</button>
						</div>
						<div
							class="swiper-inner__wrapper swiper-inner__container"
						>
							<div class="card swiper-inner__slide">
								<div class="card-top">
									<h3 class="card__title">
										Документация 1С-Битрикс для владельцев
										сайтов
									</h3>
									<p class="card__subtitle">
										Или что нужно знать, <br />
										когда у меня появился сайт
									</p>
									<img
										loading="lazy"
										src="./img/notebook.avif"
										class="image card__image"
										width="187"
										height="180"
										alt="Изображение на карточке"
									/>
								</div>
								<div class="card-bottom">
									<div class="card__content">
										<p class="card__description">
											В нашем блоге на сайте nextype.ru
											вышла новая статья, в которой мы
											собрали ссылки на самые полезные
											статьи и материалы, необходимые при
											запуске нового сайта. Рассказываем
											обо всем по порядку: от выбора
											хостинга перед созданием сайта до
											выбора стратегии продвижения после
											запуска.
										</p>
										<ul class="card__tags list-reset">
											<li class="card__tag">некстайп</li>
											<li class="card__tag">
												веб_студия
											</li>
											<li class="card__tag">новыйсайт</li>
											<li class="card__tag">
												запусксайта
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="card swiper-inner__slide">
								<div class="card-top">
									<h3 class="card__title">
										Документация 1С-Битрикс для владельцев
										сайтов
									</h3>
									<p class="card__subtitle">
										Или что нужно знать, <br />
										когда у меня появился сайт
									</p>
									<img
										loading="lazy"
										src="./img/notebook.avif"
										class="image card__image"
										width="187"
										height="180"
										alt="Изображение на карточке"
									/>
								</div>
								<div class="card-bottom">
									<div class="card__content">
										<p class="card__description">
											В нашем блоге на сайте nextype.ru
											вышла новая статья, в которой мы
											собрали ссылки на самые полезные
											статьи и материалы, необходимые при
											запуске нового сайта. Рассказываем
											обо всем по порядку: от выбора
											хостинга перед созданием сайта до
											выбора стратегии продвижения после
											запуска.
										</p>
										<ul class="card__tags list-reset">
											<li class="card__tag">некстайп</li>
											<li class="card__tag">
												веб_студия
											</li>
											<li class="card__tag">новыйсайт</li>
											<li class="card__tag">
												запусксайта
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="card swiper-inner__slide">
								<div class="card-top">
									<h3 class="card__title">
										Документация 1С-Битрикс для владельцев
										сайтов
									</h3>
									<p class="card__subtitle">
										Или что нужно знать, <br />
										когда у меня появился сайт
									</p>
									<img
										loading="lazy"
										src="./img/notebook.avif"
										class="image card__image"
										width="187"
										height="180"
										alt="Изображение на карточке"
									/>
								</div>
								<div class="card-bottom">
									<div class="card__content">
										<p class="card__description">
											В нашем блоге на сайте nextype.ru
											вышла новая статья, в которой мы
											собрали ссылки на самые полезные
											статьи и материалы, необходимые при
											запуске нового сайта. Рассказываем
											обо всем по порядку: от выбора
											хостинга перед созданием сайта до
											выбора стратегии продвижения после
											запуска.
										</p>
										<ul class="card__tags list-reset">
											<li class="card__tag">некстайп</li>
											<li class="card__tag">
												веб_студия
											</li>
											<li class="card__tag">новыйсайт</li>
											<li class="card__tag">
												запусксайта
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="card swiper-inner__slide">
								<div class="card-top">
									<h3 class="card__title">
										Документация 1С-Битрикс для владельцев
										сайтов
									</h3>
									<p class="card__subtitle">
										Или что нужно знать, <br />
										когда у меня появился сайт
									</p>
									<img
										loading="lazy"
										src="./img/notebook.avif"
										class="image card__image"
										width="187"
										height="180"
										alt="Изображение на карточке"
									/>
								</div>
								<div class="card-bottom">
									<div class="card__content">
										<p class="card__description">
											В нашем блоге на сайте nextype.ru
											вышла новая статья, в которой мы
											собрали ссылки на самые полезные
											статьи и материалы, необходимые при
											запуске нового сайта. Рассказываем
											обо всем по порядку: от выбора
											хостинга перед созданием сайта до
											выбора стратегии продвижения после
											запуска.
										</p>
										<ul class="card__tags list-reset">
											<li class="card__tag">некстайп</li>
											<li class="card__tag">
												веб_студия
											</li>
											<li class="card__tag">новыйсайт</li>
											<li class="card__tag">
												запусксайта
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-inner__pagination"></div>
					</div>
				</div>
				<div class="hero__slide swiper-slide">
					<div class="swiper-inner">
						<div class="hero__navigation swiper-inner__navigation">
							<button
								class="btn-reset hero__btn swiper-inner__btn-prev"
							>
								<svg class="hero__arrow hero__arrow-rotated">
									<use
										xlink:href="img/sprite.svg#arrow"
									></use>
								</svg>
							</button>
							<button
								class="btn-reset hero__btn swiper-inner__btn-next"
							>
								<svg class="hero__arrow">
									<use
										xlink:href="img/sprite.svg#arrow"
									></use>
								</svg>
							</button>
						</div>
						<div
							class="swiper-inner__wrapper swiper-inner__container"
						>
							<div class="card swiper-inner__slide">
								<div class="card-top">
									<h3 class="card__title">
										Документация 1С-Битрикс для владельцев
										сайтов
									</h3>
									<p class="card__subtitle">
										Или что нужно знать, <br />
										когда у меня появился сайт
									</p>
									<img
										loading="lazy"
										src="./img/notebook.avif"
										class="image card__image"
										width="187"
										height="180"
										alt="Изображение на карточке"
									/>
								</div>
								<div class="card-bottom">
									<div class="card__content">
										<p class="card__description">
											В нашем блоге на сайте nextype.ru
											вышла новая статья, в которой мы
											собрали ссылки на самые полезные
											статьи и материалы, необходимые при
											запуске нового сайта. Рассказываем
											обо всем по порядку: от выбора
											хостинга перед созданием сайта до
											выбора стратегии продвижения после
											запуска.
										</p>
										<ul class="card__tags list-reset">
											<li class="card__tag">некстайп</li>
											<li class="card__tag">
												веб_студия
											</li>
											<li class="card__tag">новыйсайт</li>
											<li class="card__tag">
												запусксайта
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="card swiper-inner__slide">
								<div class="card-top">
									<h3 class="card__title">
										Документация 1С-Битрикс для владельцев
										сайтов
									</h3>
									<p class="card__subtitle">
										Или что нужно знать, <br />
										когда у меня появился сайт
									</p>
									<img
										loading="lazy"
										src="./img/notebook.avif"
										class="image card__image"
										width="187"
										height="180"
										alt="Изображение на карточке"
									/>
								</div>
								<div class="card-bottom">
									<div class="card__content">
										<p class="card__description">
											В нашем блоге на сайте nextype.ru
											вышла новая статья, в которой мы
											собрали ссылки на самые полезные
											статьи и материалы, необходимые при
											запуске нового сайта. Рассказываем
											обо всем по порядку: от выбора
											хостинга перед созданием сайта до
											выбора стратегии продвижения после
											запуска.
										</p>
										<ul class="card__tags list-reset">
											<li class="card__tag">некстайп</li>
											<li class="card__tag">
												веб_студия
											</li>
											<li class="card__tag">новыйсайт</li>
											<li class="card__tag">
												запусксайта
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="card swiper-inner__slide">
								<div class="card-top">
									<h3 class="card__title">
										Документация 1С-Битрикс для владельцев
										сайтов
									</h3>
									<p class="card__subtitle">
										Или что нужно знать, <br />
										когда у меня появился сайт
									</p>
									<img
										loading="lazy"
										src="./img/notebook.avif"
										class="image card__image"
										width="187"
										height="180"
										alt="Изображение на карточке"
									/>
								</div>
								<div class="card-bottom">
									<div class="card__content">
										<p class="card__description">
											В нашем блоге на сайте nextype.ru
											вышла новая статья, в которой мы
											собрали ссылки на самые полезные
											статьи и материалы, необходимые при
											запуске нового сайта. Рассказываем
											обо всем по порядку: от выбора
											хостинга перед созданием сайта до
											выбора стратегии продвижения после
											запуска.
										</p>
										<ul class="card__tags list-reset">
											<li class="card__tag">некстайп</li>
											<li class="card__tag">
												веб_студия
											</li>
											<li class="card__tag">новыйсайт</li>
											<li class="card__tag">
												запусксайта
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="card swiper-inner__slide">
								<div class="card-top">
									<h3 class="card__title">
										Документация 1С-Битрикс для владельцев
										сайтов
									</h3>
									<p class="card__subtitle">
										Или что нужно знать, <br />
										когда у меня появился сайт
									</p>
									<img
										loading="lazy"
										src="./img/notebook.avif"
										class="image card__image"
										width="187"
										height="180"
										alt="Изображение на карточке"
									/>
								</div>
								<div class="card-bottom">
									<div class="card__content">
										<p class="card__description">
											В нашем блоге на сайте nextype.ru
											вышла новая статья, в которой мы
											собрали ссылки на самые полезные
											статьи и материалы, необходимые при
											запуске нового сайта. Рассказываем
											обо всем по порядку: от выбора
											хостинга перед созданием сайта до
											выбора стратегии продвижения после
											запуска.
										</p>
										<ul class="card__tags list-reset">
											<li class="card__tag">некстайп</li>
											<li class="card__tag">
												веб_студия
											</li>
											<li class="card__tag">новыйсайт</li>
											<li class="card__tag">
												запусксайта
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-inner__pagination"></div>
					</div>
				</div>
				<div class="hero__slide swiper-slide">
					<div class="swiper-inner">
						<div class="hero__navigation swiper-inner__navigation">
							<button
								class="btn-reset hero__btn swiper-inner__btn-prev"
							>
								<svg class="hero__arrow hero__arrow-rotated">
									<use
										xlink:href="img/sprite.svg#arrow"
									></use>
								</svg>
							</button>
							<button
								class="btn-reset hero__btn swiper-inner__btn-next"
							>
								<svg class="hero__arrow">
									<use
										xlink:href="img/sprite.svg#arrow"
									></use>
								</svg>
							</button>
						</div>
						<div
							class="swiper-inner__wrapper swiper-inner__container"
						>
							<div class="card swiper-inner__slide">
								<div class="card-top">
									<h3 class="card__title">
										Документация 1С-Битрикс для владельцев
										сайтов
									</h3>
									<p class="card__subtitle">
										Или что нужно знать, <br />
										когда у меня появился сайт
									</p>
									<img
										loading="lazy"
										src="./img/notebook.avif"
										class="image card__image"
										width="187"
										height="180"
										alt="Изображение на карточке"
									/>
								</div>
								<div class="card-bottom">
									<div class="card__content">
										<p class="card__description">
											В нашем блоге на сайте nextype.ru
											вышла новая статья, в которой мы
											собрали ссылки на самые полезные
											статьи и материалы, необходимые при
											запуске нового сайта. Рассказываем
											обо всем по порядку: от выбора
											хостинга перед созданием сайта до
											выбора стратегии продвижения после
											запуска.
										</p>
										<ul class="card__tags list-reset">
											<li class="card__tag">некстайп</li>
											<li class="card__tag">
												веб_студия
											</li>
											<li class="card__tag">новыйсайт</li>
											<li class="card__tag">
												запусксайта
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="card swiper-inner__slide">
								<div class="card-top">
									<h3 class="card__title">
										Документация 1С-Битрикс для владельцев
										сайтов
									</h3>
									<p class="card__subtitle">
										Или что нужно знать, <br />
										когда у меня появился сайт
									</p>
									<img
										loading="lazy"
										src="./img/notebook.avif"
										class="image card__image"
										width="187"
										height="180"
										alt="Изображение на карточке"
									/>
								</div>
								<div class="card-bottom">
									<div class="card__content">
										<p class="card__description">
											В нашем блоге на сайте nextype.ru
											вышла новая статья, в которой мы
											собрали ссылки на самые полезные
											статьи и материалы, необходимые при
											запуске нового сайта. Рассказываем
											обо всем по порядку: от выбора
											хостинга перед созданием сайта до
											выбора стратегии продвижения после
											запуска.
										</p>
										<ul class="card__tags list-reset">
											<li class="card__tag">некстайп</li>
											<li class="card__tag">
												веб_студия
											</li>
											<li class="card__tag">новыйсайт</li>
											<li class="card__tag">
												запусксайта
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="card swiper-inner__slide">
								<div class="card-top">
									<h3 class="card__title">
										Документация 1С-Битрикс для владельцев
										сайтов
									</h3>
									<p class="card__subtitle">
										Или что нужно знать, <br />
										когда у меня появился сайт
									</p>
									<img
										loading="lazy"
										src="./img/notebook.avif"
										class="image card__image"
										width="187"
										height="180"
										alt="Изображение на карточке"
									/>
								</div>
								<div class="card-bottom">
									<div class="card__content">
										<p class="card__description">
											В нашем блоге на сайте nextype.ru
											вышла новая статья, в которой мы
											собрали ссылки на самые полезные
											статьи и материалы, необходимые при
											запуске нового сайта. Рассказываем
											обо всем по порядку: от выбора
											хостинга перед созданием сайта до
											выбора стратегии продвижения после
											запуска.
										</p>
										<ul class="card__tags list-reset">
											<li class="card__tag">некстайп</li>
											<li class="card__tag">
												веб_студия
											</li>
											<li class="card__tag">новыйсайт</li>
											<li class="card__tag">
												запусксайта
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="card swiper-inner__slide">
								<div class="card-top">
									<h3 class="card__title">
										Документация 1С-Битрикс для владельцев
										сайтов
									</h3>
									<p class="card__subtitle">
										Или что нужно знать, <br />
										когда у меня появился сайт
									</p>
									<img
										loading="lazy"
										src="./img/notebook.avif"
										class="image card__image"
										width="187"
										height="180"
										alt="Изображение на карточке"
									/>
								</div>
								<div class="card-bottom">
									<div class="card__content">
										<p class="card__description">
											В нашем блоге на сайте nextype.ru
											вышла новая статья, в которой мы
											собрали ссылки на самые полезные
											статьи и материалы, необходимые при
											запуске нового сайта. Рассказываем
											обо всем по порядку: от выбора
											хостинга перед созданием сайта до
											выбора стратегии продвижения после
											запуска.
										</p>
										<ul class="card__tags list-reset">
											<li class="card__tag">некстайп</li>
											<li class="card__tag">
												веб_студия
											</li>
											<li class="card__tag">новыйсайт</li>
											<li class="card__tag">
												запусксайта
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-inner__pagination"></div>
					</div>
				</div>
				<div class="hero__slide swiper-slide">
					<div class="swiper-inner">
						<div class="hero__navigation swiper-inner__navigation">
							<button
								class="btn-reset hero__btn swiper-inner__btn-prev"
							>
								<svg class="hero__arrow hero__arrow-rotated">
									<use
										xlink:href="img/sprite.svg#arrow"
									></use>
								</svg>
							</button>
							<button
								class="btn-reset hero__btn swiper-inner__btn-next"
							>
								<svg class="hero__arrow">
									<use
										xlink:href="img/sprite.svg#arrow"
									></use>
								</svg>
							</button>
						</div>
						<div
							class="swiper-inner__wrapper swiper-inner__container"
						>
							<div class="card swiper-inner__slide">
								<div class="card-top">
									<h3 class="card__title">
										Документация 1С-Битрикс для владельцев
										сайтов
									</h3>
									<p class="card__subtitle">
										Или что нужно знать, <br />
										когда у меня появился сайт
									</p>
									<img
										loading="lazy"
										src="./img/notebook.avif"
										class="image card__image"
										width="187"
										height="180"
										alt="Изображение на карточке"
									/>
								</div>
								<div class="card-bottom">
									<div class="card__content">
										<p class="card__description">
											В нашем блоге на сайте nextype.ru
											вышла новая статья, в которой мы
											собрали ссылки на самые полезные
											статьи и материалы, необходимые при
											запуске нового сайта. Рассказываем
											обо всем по порядку: от выбора
											хостинга перед созданием сайта до
											выбора стратегии продвижения после
											запуска.
										</p>
										<ul class="card__tags list-reset">
											<li class="card__tag">некстайп</li>
											<li class="card__tag">
												веб_студия
											</li>
											<li class="card__tag">новыйсайт</li>
											<li class="card__tag">
												запусксайта
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="card swiper-inner__slide">
								<div class="card-top">
									<h3 class="card__title">
										Документация 1С-Битрикс для владельцев
										сайтов
									</h3>
									<p class="card__subtitle">
										Или что нужно знать, <br />
										когда у меня появился сайт
									</p>
									<img
										loading="lazy"
										src="./img/notebook.avif"
										class="image card__image"
										width="187"
										height="180"
										alt="Изображение на карточке"
									/>
								</div>
								<div class="card-bottom">
									<div class="card__content">
										<p class="card__description">
											В нашем блоге на сайте nextype.ru
											вышла новая статья, в которой мы
											собрали ссылки на самые полезные
											статьи и материалы, необходимые при
											запуске нового сайта. Рассказываем
											обо всем по порядку: от выбора
											хостинга перед созданием сайта до
											выбора стратегии продвижения после
											запуска.
										</p>
										<ul class="card__tags list-reset">
											<li class="card__tag">некстайп</li>
											<li class="card__tag">
												веб_студия
											</li>
											<li class="card__tag">новыйсайт</li>
											<li class="card__tag">
												запусксайта
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="card swiper-inner__slide">
								<div class="card-top">
									<h3 class="card__title">
										Документация 1С-Битрикс для владельцев
										сайтов
									</h3>
									<p class="card__subtitle">
										Или что нужно знать, <br />
										когда у меня появился сайт
									</p>
									<img
										loading="lazy"
										src="./img/notebook.avif"
										class="image card__image"
										width="187"
										height="180"
										alt="Изображение на карточке"
									/>
								</div>
								<div class="card-bottom">
									<div class="card__content">
										<p class="card__description">
											В нашем блоге на сайте nextype.ru
											вышла новая статья, в которой мы
											собрали ссылки на самые полезные
											статьи и материалы, необходимые при
											запуске нового сайта. Рассказываем
											обо всем по порядку: от выбора
											хостинга перед созданием сайта до
											выбора стратегии продвижения после
											запуска.
										</p>
										<ul class="card__tags list-reset">
											<li class="card__tag">некстайп</li>
											<li class="card__tag">
												веб_студия
											</li>
											<li class="card__tag">новыйсайт</li>
											<li class="card__tag">
												запусксайта
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="card swiper-inner__slide">
								<div class="card-top">
									<h3 class="card__title">
										Документация 1С-Битрикс для владельцев
										сайтов
									</h3>
									<p class="card__subtitle">
										Или что нужно знать, <br />
										когда у меня появился сайт
									</p>
									<img
										loading="lazy"
										src="./img/notebook.avif"
										class="image card__image"
										width="187"
										height="180"
										alt="Изображение на карточке"
									/>
								</div>
								<div class="card-bottom">
									<div class="card__content">
										<p class="card__description">
											В нашем блоге на сайте nextype.ru
											вышла новая статья, в которой мы
											собрали ссылки на самые полезные
											статьи и материалы, необходимые при
											запуске нового сайта. Рассказываем
											обо всем по порядку: от выбора
											хостинга перед созданием сайта до
											выбора стратегии продвижения после
											запуска.
										</p>
										<ul class="card__tags list-reset">
											<li class="card__tag">некстайп</li>
											<li class="card__tag">
												веб_студия
											</li>
											<li class="card__tag">новыйсайт</li>
											<li class="card__tag">
												запусксайта
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-inner__pagination"></div>
					</div>
				</div>
				<div class="hero__slide swiper-slide">
					<div class="swiper-inner">
						<div class="hero__navigation swiper-inner__navigation">
							<button
								class="btn-reset hero__btn swiper-inner__btn-prev"
							>
								<svg class="hero__arrow hero__arrow-rotated">
									<use
										xlink:href="img/sprite.svg#arrow"
									></use>
								</svg>
							</button>
							<button
								class="btn-reset hero__btn swiper-inner__btn-next"
							>
								<svg class="hero__arrow">
									<use
										xlink:href="img/sprite.svg#arrow"
									></use>
								</svg>
							</button>
						</div>
						<div
							class="swiper-inner__wrapper swiper-inner__container"
						>
							<div class="card swiper-inner__slide">
								<div class="card-top">
									<h3 class="card__title">
										Документация 1С-Битрикс для владельцев
										сайтов
									</h3>
									<p class="card__subtitle">
										Или что нужно знать, <br />
										когда у меня появился сайт
									</p>
									<img
										loading="lazy"
										src="./img/notebook.avif"
										class="image card__image"
										width="187"
										height="180"
										alt="Изображение на карточке"
									/>
								</div>
								<div class="card-bottom">
									<div class="card__content">
										<p class="card__description">
											В нашем блоге на сайте nextype.ru
											вышла новая статья, в которой мы
											собрали ссылки на самые полезные
											статьи и материалы, необходимые при
											запуске нового сайта. Рассказываем
											обо всем по порядку: от выбора
											хостинга перед созданием сайта до
											выбора стратегии продвижения после
											запуска.
										</p>
										<ul class="card__tags list-reset">
											<li class="card__tag">некстайп</li>
											<li class="card__tag">
												веб_студия
											</li>
											<li class="card__tag">новыйсайт</li>
											<li class="card__tag">
												запусксайта
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="card swiper-inner__slide">
								<div class="card-top">
									<h3 class="card__title">
										Документация 1С-Битрикс для владельцев
										сайтов
									</h3>
									<p class="card__subtitle">
										Или что нужно знать, <br />
										когда у меня появился сайт
									</p>
									<img
										loading="lazy"
										src="./img/notebook.avif"
										class="image card__image"
										width="187"
										height="180"
										alt="Изображение на карточке"
									/>
								</div>
								<div class="card-bottom">
									<div class="card__content">
										<p class="card__description">
											В нашем блоге на сайте nextype.ru
											вышла новая статья, в которой мы
											собрали ссылки на самые полезные
											статьи и материалы, необходимые при
											запуске нового сайта. Рассказываем
											обо всем по порядку: от выбора
											хостинга перед созданием сайта до
											выбора стратегии продвижения после
											запуска.
										</p>
										<ul class="card__tags list-reset">
											<li class="card__tag">некстайп</li>
											<li class="card__tag">
												веб_студия
											</li>
											<li class="card__tag">новыйсайт</li>
											<li class="card__tag">
												запусксайта
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="card swiper-inner__slide">
								<div class="card-top">
									<h3 class="card__title">
										Документация 1С-Битрикс для владельцев
										сайтов
									</h3>
									<p class="card__subtitle">
										Или что нужно знать, <br />
										когда у меня появился сайт
									</p>
									<img
										loading="lazy"
										src="./img/notebook.avif"
										class="image card__image"
										width="187"
										height="180"
										alt="Изображение на карточке"
									/>
								</div>
								<div class="card-bottom">
									<div class="card__content">
										<p class="card__description">
											В нашем блоге на сайте nextype.ru
											вышла новая статья, в которой мы
											собрали ссылки на самые полезные
											статьи и материалы, необходимые при
											запуске нового сайта. Рассказываем
											обо всем по порядку: от выбора
											хостинга перед созданием сайта до
											выбора стратегии продвижения после
											запуска.
										</p>
										<ul class="card__tags list-reset">
											<li class="card__tag">некстайп</li>
											<li class="card__tag">
												веб_студия
											</li>
											<li class="card__tag">новыйсайт</li>
											<li class="card__tag">
												запусксайта
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="card swiper-inner__slide">
								<div class="card-top">
									<h3 class="card__title">
										Документация 1С-Битрикс для владельцев
										сайтов
									</h3>
									<p class="card__subtitle">
										Или что нужно знать, <br />
										когда у меня появился сайт
									</p>
									<img
										loading="lazy"
										src="./img/notebook.avif"
										class="image card__image"
										width="187"
										height="180"
										alt="Изображение на карточке"
									/>
								</div>
								<div class="card-bottom">
									<div class="card__content">
										<p class="card__description">
											В нашем блоге на сайте nextype.ru
											вышла новая статья, в которой мы
											собрали ссылки на самые полезные
											статьи и материалы, необходимые при
											запуске нового сайта. Рассказываем
											обо всем по порядку: от выбора
											хостинга перед созданием сайта до
											выбора стратегии продвижения после
											запуска.
										</p>
										<ul class="card__tags list-reset">
											<li class="card__tag">некстайп</li>
											<li class="card__tag">
												веб_студия
											</li>
											<li class="card__tag">новыйсайт</li>
											<li class="card__tag">
												запусксайта
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-inner__pagination"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="hero__navigation">
			<button class="btn-reset hero__btn hero__btn-prev">
				<svg class="hero__arrow hero__arrow-rotated">
					<use xlink:href="img/sprite.svg#arrow"></use>
				</svg>
			</button>
			<button class="btn-reset hero__btn hero__btn-next">
				<svg class="hero__arrow">
					<use xlink:href="img/sprite.svg#arrow"></use>
				</svg>
			</button>
		</div>
	</div>
</section>
